.wrapper {
    background: url("../img/wrapper.png") no-repeat;
    background-size: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Verdana, Sans-serif;
}

.header {
    height: 56px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.41);
    background-blend-mode: darken;
    position: relative;
    top: 0;
}

.journey {
    color: white;
    font-weight: bold;
    padding-left: 81px;
    line-height: 56px;
    font-size: 20px;
    text-decoration: none;
}

.journey:hover {
    color: rgba(60, 184, 120, 255);
}

.header-right-welcome {
    float: right;
    width: 445px;
    height: 46px;
    margin-right: 75px;
    line-height: 60px;
    color: white;
}

.icon-header {
    display: inline-block;
    float: left;
}

.icons {
    display: inline-block;
    margin: 14px;
    background-image: url('../img/css_sprites.png');
    background-repeat: no-repeat;
}

.icon-calendar {
    background-position: -10px -11px;
    width: 19px;
    height: 19px;
}

.icon-calendar:hover {
    background-position: -10px -51px;
}

.icon-forum {
    background: url('../img/css_sprites.png') no-repeat -57px -10px;
    width: 28px;
    height: 20px;
}

.icon-forum:hover {
    background-position: -57px -50px;
}

.icon-journey {
    background: url('../img/css_sprites.png') no-repeat -113px -10px;
    width: 20px;
    height: 20px;
}

.icon-journey:hover {
    background-position: -113px -50px;
}

.text-welcome {
    margin-top: 13px;
    line-height: 25px;
    text-align: right;
    border: 0 solid gray;
    border-left-width: 1px;
    float: right;
    width: 255px;
}

.login-in-color {
    color: #3cb878;
    text-decoration: none;
}

.login-in-color:hover {
    border-bottom: 1px solid currentColor;
}

.sign-up-right-color {
    color: #3cb878;
    text-decoration: none;
}

.sign-up-right-color:hover {
    border-bottom: 1px solid currentColor;
}

.login-form {
    overflow: hidden;
    width: 444px;
    height: 584px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    max-height: calc(100vh - 56px);
}

.positioning-inside {
    margin-top: 29px;
    margin-left: 59px;
    margin-right: 58px;
}

.header-checkbox:before {
    content: '';
    float: left;
    background-color: #3cb878;
    height: 18px;
    width: 18px;
    margin-left: -59px;
}

.sign-up {
    float: left;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
}

.log-in {
    float: right;
    font-size: 14px;
    color: rgba(60, 184, 125, 255);
    text-decoration: none;

}

.log-in:hover {
    border-bottom: 1px solid currentColor;
}

.clear-both {
    clear: both;
}

.button {
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    height: 46px;
    width: 157px;
}

.button-fb {
    float: left;
    background-color: #305db8;
    border-width: 0;
}

.button-fb:hover {
    background-color: #264b96;
}

.size-facebook {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    border: 0 solid #2b54a5;
    border-left-width: 1px;
    margin-right: 20px;
    float: right;
    width: 85px;
}

.button-fb:before {
    content: url("../img/f-button.png");
    float: left;
    margin-left: 10px;
}

.button-g {
    float: right;
    background-color: #df4a32;
    border-width: 0;
}

.button-g:hover {
    background-color: #c3412c;
}

.size-google {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    border: 0 solid #c8422d;
    border-left-width: 1px;
    margin-right: 25px;
    float: right;
    width: 75px;
}

.button-g:before {
    content: url("../img/G-button.png");
    float: left;
    margin-left: 8px;
    margin-top: 5px;

}

.or-line {
    display: block;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: rgba(132, 132, 132, 255);

}

.or-line:before {
    content: ' ';
    vertical-align: middle;
    width: 135px;
    background: #eaeaea;
    height: 1px;
    float: left;
    margin-top: 9px;
}

.or-line:after {
    content: ' ';
    vertical-align: middle;
    width: 135px;
    background: #eaeaea;
    height: 1px;
    float: right;
    margin-top: 9px;
}

.form-filling {
    tab-size: 100px;
}

.input-fields {
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
    height: 46px;
    border: 1px solid #eaeaea;
    padding-left: 10px;
    color: #434343;
}

.input-fields:focus {
    box-shadow: 2px 2px 6px rgba(180, 180, 180, 1);
    outline: none;
    border: 0;
}

#label-check, #checkbox {
    line-height: 2.1ex;
    color: #434343;
}

#checkbox {
    position: absolute;
    display: none;
}

#checkbox + #label-check {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#checkbox + #label-check::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-right: 0.5em;
    margin-top: 15px;
}

#checkbox:checked + #label-check::after {
    content: ' ';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.7ex;
    left: 0.4ex;
    border: 3px solid #3cb878;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.teams-color {

    text-decoration: none;
}

.teams-color {
    color: rgb(60, 184, 120);
}

.link-conditions {
    text-decoration: none;
}

.terms-color-size {
    font-size: 14px;
    color: #8ad4ae;
}

.button-create {
    margin-top: 15px;
    border: 0;
    width: 100%;
    line-height: 46px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 255);
    background-color: #3cb878;
    border-radius: 5px;
}

.button-create:hover {
    background-color: #329a65;
}